@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Indie+Flower&display=swap');

:root {
    font-size: 24px;
    color: color-mix(in hsl, wheat 50%, ghostwhite);
    font-family: 'Indie Flower', cursive;
}

body {
    background-color: #303030;
    background: linear-gradient(45deg, hsl(0, 10%, 20%) 20%, hsl(10, 10%, 20%) 60%, hsl(15, 10%, 20%) 80%, hsl(20, 10%, 20%) 100%);
    min-height: 100%;
}

img {
    max-width: 200px;
    margin: 0;
    padding: 0;
    aspect-ratio: 1/1;
}
p {
    line-break: strict;
    line-height: 120%;
    text-align: justify;
    justify-self: center;
    justify-items: center;
    vertical-align: middle;
    letter-spacing: 1.5px;
}

a, a:hover, a:active, a:active:hover, a::selection, a:visited, a:visited:active:hover, a:visited:active {
    color: white;
    padding: 10px;
}